[submodule "libs/modules/APICloud/uzmap_resource_extractor"]
	path = libs/modules/APICloud/uzmap_resource_extractor
	url = https://github.com/WebAppSecProj/uzmap-resource-extractor.git
[submodule "libs/ExAndroidNativeEmu"]
	path = libs/ExAndroidNativeEmu
	url = https://github.com/WebAppSecProj/ExAndroidNativeEmu.git
[submodule "Applications/common/HTMLSimilarity"]
	path = Applications/common/HTMLSimilarity
	url = https://github.com/WebAppSecProj/HTMLSimilarity.git
